



/* @font-face {
    font-family: my-font;
    src: url(data:application/font-ttf;charset=utf-8;base64,生成出来的base64字符串) format('truetype');
} */


@font-face {
    font-family: Montserrat;
    src: url('/static/fonts/Montserrat/Montserrat-Regular-8.otf') format('otf');
	
	font-style: normal;
	font-display: swap;
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('/static/fonts/Montserrat/Montserrat-Bold-3.otf') format('otf');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}